{erl_opts, [debug_info]}.
{deps, [{cowboy, "2.10.0"},
        {jsx, "~> 3.0"}
]}.

{shell, [
  {config, "sys.config"},
    {apps, [hello]}
]}.

{relx, [
  {release, {hello, "1.0.0"},
   [hello, sasl, cowboy, jsx]}, %% Ensure all necessary apps are included
  {sys_config, "sys.config"}
  {vm_args, "vm.args"}  %% Optional: Add VM arguments file if needed
]}.
