[
    %% Kernel configuration
    {kernel, [
        %% Configure the minimum and maximum ports for distributed Erlang
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9105}
    ]},

    %% Cowboy configuration
    {cowboy, [
        %% Number of acceptors per listener
        {num_acceptors, 1000},
        %% Maximum number of connections
        {max_connections, 1000000000},
        %% Request timeout (in milliseconds)
        {timeout, 60000}
    ]},

    % %% Your application configuration
    % {hello, [
    %     %% Add application-specific configurations here
    %     {some_setting, some_value}
    % ]}

    {kernel,[
        {inet_dist_listen_min, 9100},
        {inet_dist_listen_max, 9150}]},
    {inet, [
    {tcp_listen_options, [
        {recbuf, 1024000},
        {sndbuf, 1024000},
        {nodelay, true},
        {reuseaddr, true},
        {backlog, 1024}]}]}
].